<div class="text-center">
    <h1 class="text-info">Inquiry Confirmation</h1>

    <p>We have received your inquiry and someone from our team will contact you very soon!</p>

    <img src="/images/thank-you-card.jpg" width="80%" />
</div>

